.form-control,
.form-select {
<<<<<<< HEAD
  border: none !important;
  border-bottom: 0.1rem solid $colorform !important;
  margin-bottom: 1rem !important;
=======
  border: none;
  border-bottom: 0.1rem solid $colorform;
  margin-bottom: 1rem;
>>>>>>> CodigoSASS
}

.form-check-input,
textarea.form-control {
<<<<<<< HEAD
  border: 0.1rem solid $colorform !important;
=======
  border: 0.1rem solid $colorform;
>>>>>>> CodigoSASS
}
