@import url(//db.onlinewebfonts.com/c/482de819aa9631d27141f3d998cace18?family=Ethnocentric);
h2 {
  font-family: "ethnocentric";
  font-size: 3vmax;
  margin-bottom: 0rem;
}

h3 {
  font-size: 2rem;
}
