header {
  background-color: $colorprimario;
}

.navbar-brand img {
  max-width: 25vh;
}

.nav-item {
  a {
    &:hover {
      color: $colorsecundario !important;
    }
  }
}

.navbar-toggler-icon {
  border-color: white;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.custom-toggler.navbar-toggler {
  border-color: white;
}
