* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;

}

@font-face {
    font-family: 'ethnocentric';
    src: url('../assets/fonts/ethnocentric/ethnocentric\ rg.otf');
}

main {
    min-height: 60vh;
}

body {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}



.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.centrar {
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    font-family: "ethnocentric";
}

@media (max-width: 420px) {
    h1 {
        font-size: 2.3rem;
    }
}


h2 {
    font-size: 3.3rem;
    margin-top: 1rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2rem;
    font-weight: 900;
}

p {
    font-size: 1.8rem;
}

/* inicio Layout Index */

.layout-index {

    display: grid;
    flex-wrap: wrap;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}


/* Fin Layout Index */

/* inicio navbar */
.navbar {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: #2C2955;
}

@media (min-width: 1000px) {
    .navbar {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 30vh;
    }


}

.navbar__logo img {
    max-width: 20vh;

}

.navbar__titulo {
    margin: 0 2rem;
    grid-area: titulo;
    color: white;
}

.navbar__menu {
    font-size: 1.5rem;
    margin: 1rem 0;
}

@media (min-width: 1000px) {
    .navbar__menu ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2rem;
        font-size: 1.5rem;
    }
}

.navbar__menu ul {
    list-style: none;

}

.navbar__menu li a {
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.navbar__menu li a:hover {
    color: #04C4D9;
}

/* Final navbar */

/* Inicio Main  */

/* Inicio sección NOSOTROS */

#nosotros-resumen {
    padding: 1rem;
}


/* Fin sección NOSOTROS */
/* Inicio Sección VIDEO */
.linea {
    width: 50%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    border: 0.05rem inset #0d0d0d7b;
}

#video {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

#video iframe {
    width: 95%;
    height: 30rem;
}

@media (min-width: 768px) {
    #video iframe {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    #video iframe {
        width: 70%;
        height: 31rem;
    }
}

/* FIN Sección VIDEO */

/* Inicio sección precios */
.tabla {
    width: 95%;
    margin: auto;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .tabla {
        width: 70%;
    }
}

@media (min-width: 1000px) {
    .tabla {
        width: 50%;
    }
}

th,
td {
    border-bottom: 0.2rem solid #ddd;
    font-size: 2rem;
    line-height: 2;
    text-align: left;
}

tr:hover {
    background-color: #04C4D9;
}

/* Fin sección precios */

/* Inicio sección Footer */

.navbarf {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2C2955;
    padding-top: 2rem;
}




.navbarf p {
    color: white;
    margin: 0 auto 1rem auto;
    text-align: center;
    font-size: 1rem;

}

/* Fin sección Footer */
/* Final Main */

/* ------------------------------ */
/* Inicio Trabajos */
.cardGrilla {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}



@media (min-width: 768px) {

    .cardGrilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        justify-content: space-between;
    }
}

/* Fin Trabajos */
/* ------------------------------ */
/* Inicio Servicios */
.cardNosotros {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}



@media (min-width: 768px) {

    .cardNosotros {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}




.card {
    padding: 1.5rem;
    height: 100%;
    margin: 2% 5% 2% 5%;
    text-align: center;
    border-radius: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

.card:hover {
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);

}

.card p {
    margin-top: .5rem;
    font-size: 1.5rem;
}

.card h4 {
    color: #0dab01;
    margin-top: .6rem;
}

.card img {
    margin-top: 1rem;
    max-width: 100%;
}

/* Final Servicios */


/* Inicio Nosotros */
.nosotros p {
    grid-area: nosotros;
    font-size: 1.5rem;
    margin: 1rem;
}

.nosotros__imagen img {
    grid-area: foto;
    width: 80%;

}

.texto {
    grid-area: texto;
}

.nosotros {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px) {
    .nosotros {
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-around;
    }

    .nosotros__imagen img {
        width: 22rem;
        margin-right: 2rem;
    }
}




/* Fin Nosotros */
/* ------------------------------ */
/* Inicio Contacto */


/* .formContacto {
    display: flex;
    flex-direction: column;
} */

.entradaDato {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

label {
    width: 40%;
    font-size: 1.8rem;
}

input {
    width: 60%;
}

select {
    width: 50%;
}

textarea {
    width: 100%;
}

input,
select,
textarea {
    border: none;
    border-bottom: 0.2rem solid #b4b1db;
    padding-top: 0.5rem;
    margin-bottom: 1rem;

}

.opciones {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}

.opciones input {
    margin: 0 1rem 0 3rem;
}

@media (min-width: 768px) {
    .formContacto {
        margin-left: 10%;
        margin-right: 10%;

    }

    label {
        width: 50%;
    }

    input {
        width: 50%;
    }

    .opciones {
        margin-top: 0rem;
    }
}



.textoConsulta {
    flex-direction: column;
    align-items: flex-start;
}

.formContacto__enviar {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: flex-end;
}


.formContacto__enviar input {

    width: 20%;
    border: none;
    padding: .5rem;
    background-color: #2C2955;
    color: white;
    border-radius: 1rem;

}

.formContacto__enviar input:hover {
    transition: ease-in-out 0.4s;
    background-color: #04C4D9;
}

/* Fin Contacto */
/* ------------------------------ */